@model VeterinariaCoreMVC.Models.Vistas.ReporteIngresosVista

@{
    ViewData["Title"] = "ReporteVentas";
}

<h3 class="text-center mt-5 pb-4 mb-4 border-bottom">Reportes</h3>

<div class="d-flex justify-content-between">
    <h4>Ingresos</h4>
</div>


@if (TempData["mensaje"] != null)
{
    <div class="alert bgRosa alert-dismissible fade show my-3" role="alert">
        <strong>@TempData["mensaje"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="modal fade" id="MostrarDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
                    <button id="btn-close-detalle" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="editingreso.idingre" class="control-label">Codigo</label>
                                <input asp-for="editingreso.idingre" class="form-control" readonly />
                                <span asp-validation-for="editingreso.idingre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="editingreso.trabajador" class="control-label">Trabajador</label>
                                <input asp-for="editingreso.trabajador" class="form-control" readonly />
                                <span asp-validation-for="editingreso.trabajador" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="editingreso.fecha" class="control-label">Fecha y hora</label>
                                <input asp-for="editingreso.fecha" class="form-control" readonly />
                                <span asp-validation-for="editingreso.fecha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="editingreso.descripcion" class="control-label">Fecha y hora</label>
                                <input asp-for="editingreso.descripcion" class="form-control" readonly />
                                <span asp-validation-for="editingreso.descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="editingreso.estado" class="control-label">Estado</label>
                                <input asp-for="editingreso.estado" class="form-control" readonly />
                                <span asp-validation-for="editingreso.estado" class="text-danger"></span>
                            </div>

                            <div class="py-4 border-bottom text-center">
                                <h6 class="modal-title" id="exampleModalLabel">Detalle de Ingreso</h6>
                            </div>

                            <div class="overflow-auto py-2 mb-4" style="max-height:400px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Imagen
                                            </th>
                                            <th>
                                                Modelo
                                            </th>
                                            <th>
                                                Color
                                            </th>
                                            <th>
                                                Talla
                                            </th>
                                            <th>
                                                Cantidad
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.listaDetaIngreso)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="@Url.Content("/ImagenesProductos/"+ item.imagen)"
                                                         alt="@item.imagen" style="width:auto;height:80px" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.nompro)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.color)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.talla)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.cantidad)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="EditarVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
                    <button id="btn-close-detalle" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="EditarIngreso" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="editingreso.idingre" class="control-label">Codigo</label>
                                    <input asp-for="editingreso.idingre" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.idingre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.trabajador" class="control-label">Trabajador</label>
                                    <input asp-for="editingreso.trabajador" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.trabajador" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.fecha" class="control-label">Fecha y hora</label>
                                    <input asp-for="editingreso.fecha" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.descripcion" class="control-label">Descripción</label>
                                    <input asp-for="editingreso.descripcion" class="form-control" />
                                    <span asp-validation-for="editingreso.descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.estado" class="control-label">Estado</label>
                                    <input asp-for="editingreso.estado" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.estado" class="text-danger"></span>
                                </div>

                                <div class="py-4 border-bottom text-center">
                                    <h6 class="modal-title" id="exampleModalLabel">Detalle de Ingreso</h6>
                                </div>

                                <div class="overflow-auto py-2 mb-4" style="max-height:400px;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Imagen
                                                </th>
                                                <th>
                                                    Modelo
                                                </th>
                                                <th>
                                                    Color
                                                </th>
                                                <th>
                                                    Talla
                                                </th>
                                                <th>
                                                    Cantidad
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.listaDetaIngreso)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="@Url.Content("/ImagenesProductos/"+ item.imagen)"
                                                             alt="@item.imagen" style="width:auto;height:80px" />
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.nompro)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.color)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.talla)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.cantidad)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-group pt-3">
                                    <input type="submit" value="Guardar Cambios" class="btn bgRosa w-100" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="EliminarVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
                    <button id="btn-close-detalle" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="EliminarIngreso" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="editingreso.idingre" class="control-label">Codigo</label>
                                    <input asp-for="editingreso.idingre" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.idingre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.trabajador" class="control-label">Trabajador</label>
                                    <input asp-for="editingreso.trabajador" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.trabajador" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.fecha" class="control-label">Fecha y hora</label>
                                    <input asp-for="editingreso.fecha" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.descripcion" class="control-label">Fecha y hora</label>
                                    <input asp-for="editingreso.descripcion" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.estado" class="control-label">Estado</label>
                                    <input asp-for="editingreso.estado" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.estado" class="text-danger"></span>
                                </div>

                                <div class="py-4 border-bottom text-center">
                                    <h6 class="modal-title" id="exampleModalLabel">Detalle de Ingreso</h6>
                                </div>

                                <div class="overflow-auto py-2 mb-4" style="max-height:400px;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Imagen
                                                </td>
                                                <th>
                                                    Modelo
                                                </th>
                                                <th>
                                                    Color
                                                </th>
                                                <th>
                                                    Talla
                                                </th>
                                                <th>
                                                    Cantidad
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.listaDetaIngreso)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="@Url.Content("/ImagenesProductos/"+ item.imagen)"
                                                         alt="@item.imagen" style="width:auto;height:80px" />
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.nompro)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.color)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.talla)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.cantidad)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-group pt-3">
                                    <input type="submit" value="Eliminar" class="btn bgRosa w-100" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="RestaurarVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
                    <button id="btn-close-detalle" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="RestaurarIngreso" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="editingreso.idingre" class="control-label">Codigo</label>
                                    <input asp-for="editingreso.idingre" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.idingre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.trabajador" class="control-label">Trabajador</label>
                                    <input asp-for="editingreso.trabajador" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.trabajador" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.fecha" class="control-label">Fecha y hora</label>
                                    <input asp-for="editingreso.fecha" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.descripcion" class="control-label">Fecha y hora</label>
                                    <input asp-for="editingreso.descripcion" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="editingreso.estado" class="control-label">Estado</label>
                                    <input asp-for="editingreso.estado" class="form-control" readonly />
                                    <span asp-validation-for="editingreso.estado" class="text-danger"></span>
                                </div>

                                <div class="py-4 border-bottom text-center">
                                    <h6 class="modal-title" id="exampleModalLabel">Detalle de Ingreso</h6>
                                </div>

                                <div class="overflow-auto py-2 mb-4" style="max-height:400px;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Imagen
                                                </td>
                                                <th>
                                                    Modelo
                                                </th>
                                                <th>
                                                    Color
                                                </th>
                                                <th>
                                                    Talla
                                                </th>
                                                <th>
                                                    Cantidad
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.listaDetaIngreso)
                                            {
                                                <tr>
                                                    <td>
                                                        <img src="@Url.Content("/ImagenesProductos/"+ item.imagen)"
                                                         alt="@item.imagen" style="width:auto;height:80px" />
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.nompro)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.color)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.talla)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.cantidad)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-group pt-3">
                                    <input type="submit" value="Restaurar" class="btn bgRosa w-100" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="date" id="fechaFiltro" class="form-control my-3">


<table class="table" id="tablaVentas">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Trabajador
            </th>
            <th>
                Fecha
            </th>
            <th>
                descripcion
            </th>
            <th>
                Estado
            </th>
            <th>
                Detalle
            </th>
            <th>
                Editar
            </th>
            <th>
                Eliminar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaIngreso)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idingre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trabajador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td class="text-center">
                    @Html.ActionLink("", "ReporteIngresos", new { idingre = item.idingre, accion = "DetalleVenta" }, new { @class = "fa-regular fa-list-alt fa-beat", style = "color: #dfb9c6;" })
                </td>
                <td class="text-center">
                    @Html.ActionLink("", "ReporteIngresos", new { idingre = item.idingre, accion = "EditarVenta" }, new { @class = "fa-regular fa-pen-to-square fa-beat", style = "color: #dfb9c6;" })
                </td>
                <td class="text-center">
                    @if (item.estado == "Activo")
                    {
                        @Html.ActionLink("", "ReporteIngresos", new { idingre = item.idingre, accion = "EliminarVenta" }, new { @class = "fa-solid fa-trash-can fa-beat", style = "color: #dfb9c6;" })
                    }
                    else
                    {
                        @Html.ActionLink("", "ReporteIngresos", new { idingre = item.idingre, accion = "RestaurarVenta" }, new { @class = "fa-solid fa-rotate-right fa-beat", style = "color: #dfb9c6;" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>






@if (ViewBag.abrirModal == "DetalleVenta")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#MostrarDetalle').modal('show');
            }, 500);
            $('#btn-close-detalle').on('click', function () {
                window.location.href = '/Ingresos/ReporteIngresos';
            });
        });
    </script>
}
else if (ViewBag.abrirModal == "EditarVenta")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#EditarVenta').modal('show');
            }, 500);
            $('#btn-close-detalle').on('click', function () {
                window.location.href = '/Ingresos/ReporteIngresos';
            });
        });
    </script>
}
else if (ViewBag.abrirModal == "EliminarVenta")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#EliminarVenta').modal('show');
            }, 500);
            $('#btn-close-detalle').on('click', function () {
                window.location.href = '/Ingresos/ReporteIngresos';
            });
        });
    </script>
}
else if (ViewBag.abrirModal == "RestaurarVenta")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#@ViewBag.abrirModal').modal('show');
            }, 500);
            $('#btn-close-detalle').on('click', function () {
                window.location.href = '/Ingresos/ReporteIngresos';
            });
        });
    </script>
}


@if (ViewBag.trabajador == null)
{
    <script>
        $(document).ready(function () {

            window.location.href = '/Login/Login';

        });
    </script>
}

<script>
    $(document).ready(function () {

        var fechaInput = $('#fechaFiltro').val();
        var fechaHoy = obtenerHoraPeru().split('T')[0];
        $('#fechaFiltro').val(fechaHoy); 

        function filtrarPorFecha() {
            var fechaInput = $('#fechaFiltro').val();
            var partesFecha = fechaInput.split('-');
            var fechaFormateada = partesFecha[2] + '/' + partesFecha[1] + '/' + partesFecha[0];

            var totalVentas = 0;

            $('#tablaVentas tbody tr').each(function () {
                var fecha = $(this).find('td:eq(2)').text().trim();
                var fechaa = fecha.substring(0, 10);

                if (fechaFormateada !== fechaa) {
                    $(this).hide();
                } else {
                    $(this).show();

                    // Verificar si el estado de la venta es "Activo"
                    var estado = $(this).find('td:eq(6)').text().trim();
                    if (estado === "Activo") {
                        // Obtener el total de la venta de la columna correspondiente
                        var totalVenta = parseFloat($(this).find('td:eq(4)').text().trim());
                        // Sumar el total de la venta al total general
                        totalVentas += totalVenta;
                    }
                }
            });

            
            $('#totalVentas').text(totalVentas.toFixed(2));
        }


        function  obtenerHoraPeru(){
            const now = new Date();
            const offset = now.getTimezoneOffset();
            const offsetInMs = offset * 60 * 1000;
            const peruTime = new Date(now.getTime() - offsetInMs);
            const peruOffset = -5 * 60; 
            const peruOffsetInMs = peruOffset * 60 * 1000;
            const peruDate = new Date(peruTime.getTime() + peruOffsetInMs).toISOString();
            return peruDate ;
        }

        filtrarPorFecha();
        $('#fechaFiltro').on('input', function () {
            filtrarPorFecha();
        });

    });
</script>


@if (ViewBag.trabajador == null)
{
    <script>
        $(document).ready(function () {

            window.location.href = '/Login/Login';

        });
    </script>
}
else if (ViewBag.rolTrabajador != 1)
{
    <script>
        $(document).ready(function () {

            window.location.href = '/Ingresos/NuevoIngreso';

        });
    </script>
}