@model VeterinariaCoreMVC.Models.Vistas.StockVista

@{
    ViewData["Title"] = "Stocks";
}

<h3 class="text-center mt-5 pb-4 mb-4 border-bottom">Mantenimiento</h3>

<div class="d-flex justify-content-between">
    <h4>Stocks</h4>
</div>

@if (TempData["mensaje"] != null)
{
    <div class="alert bgRosa alert-dismissible fade show my-3" role="alert">
        <strong>@TempData["mensaje"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr />

<table class="table" id="tablaStock">
    <thead>
        <tr>
            <th>
                Id Stock
            </th>
            <th>
                Codigo de barras
            </th>
            <th>
                Imagen
            </th>
            <th>
                Nombre del Producto
            </th>
            
            <th>
                Color
            </th>  
            <th>
                Talla
            </th>
            <th>
                Cantidad
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaStocks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idstock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codbar)
                </td>
                <td>
                    <img src="@Url.Content("/ImagenesProductos/"+ item.imagen)"
                         alt="@item.imagen" style="width:auto;height:80px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nompro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.talla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        var filtroActual = '';

        $('#filtroColor').on('input', function () {
            filtroActual = $(this).val().toLowerCase();
            filtrarFilas();
        });

        $('#toggleInactive').on('click', function () {
            var iconoMostrar = $('#iconoMostrar');
            var ocultarInactivos = !$(this).hasClass('activo');
            $('#tablaColores tbody tr').each(function () {
                var estado = $(this).find('td:nth-child(3)').text().trim();
                if (estado === 'Inactivo') {
                    $(this).toggle(ocultarInactivos);
                }
            });
            if (ocultarInactivos) {
                iconoMostrar.removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                iconoMostrar.removeClass('fa-eye').addClass('fa-eye-slash');
            }
            $(this).toggleClass('activo');
            filtrarFilas();
        });

        function filtrarFilas() {
            $('#tablaColores tbody tr').each(function () {
                var estado = $(this).find('td:nth-child(3)').text().trim();
                var cumpleFiltro = true;
                if (filtroActual !== '') {
                    cumpleFiltro = $(this).find('td:nth-child(2)').text().toLowerCase().indexOf(filtroActual) > -1;
                }
                var esInactivo = estado === 'Inactivo';
                $(this).toggle(cumpleFiltro && (!esInactivo || $('#toggleInactive').hasClass('activo')));
            });
        }
    });
</script>

@if (ViewBag.trabajador == null)
{
    <script>
        $(document).ready(function () {

            window.location.href = '/Login/Login';

        });
    </script>
}
