@model VeterinariaCoreMVC.Models.Vistas.ClientesVista

@{
    ViewData["Title"] = "Clientes";
}

<h3 class="text-center mt-5 pb-4 mb-4 border-bottom">Mantenimiento</h3>


<div class="d-flex justify-content-between">
    <h4>Clientes</h4>
    <button type="button" class="btn btn-light bgRosa" data-bs-toggle="modal" data-bs-target="#crearCliente">
        <i class="fa-solid fa-plus fa-beat" style="color: #dfb9c6;"></i> &nbsp; Nuevo Cliente
    </button>
</div>
@if (TempData["mensaje"] != null)
{
    <div class="alert bgRosa alert-dismissible fade show my-3" role="alert">
        <strong>@TempData["mensaje"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr />
@{
    var datos = ViewBag.Datos as List<SelectListItem>;
}
<div class="modal fade" id="crearCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Agregar" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nomcli" class="control-label">Nombre</label>
                                <input asp-for="NuevoClientes.Nomcli" class="form-control" />                               
                                <span asp-validation-for="NuevoClientes.Nomcli" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Apellidos" class="control-label">Apellidos</label>
                                <input asp-for="NuevoClientes.Apellidos" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Apellidos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Tipodocumento" class="control-label">Tipo de Docuemnto</label>                               
                                <select asp-for="NuevoClientes.Tipodocumento" class="form-control">
                                    <option value="">Selecciona una opción</option>
                                    <option value="DNI">DNI</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Carnet de Extrangeria">Carnet de Extrangeria</option>
                                </select>
                                <span asp-validation-for="NuevoClientes.Tipodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nrodocumento" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoClientes.Nrodocumento" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Nrodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Telefono" class="control-label">Telefono</label>
                                <input asp-for="NuevoClientes.Telefono" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Direccion" class="control-label">Direccion</label>
                                <input asp-for="NuevoClientes.Direccion" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Direccion" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Guardar" class="btn bgRosa w-100" />

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditarCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Color</h5>
                <button id="btn-close-editar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Editar" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Idcli" class="control-label">Codigo</label>
                                <input asp-for="NuevoClientes.Idcli" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Idcli" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nomcli" class="control-label">Nombre</label>
                                <input asp-for="NuevoClientes.Nomcli" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Nomcli" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Apellidos" class="control-label">Apellidos</label>
                                <input asp-for="NuevoClientes.Apellidos" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Apellidos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Tipodocumento" class="control-label">Tipo de Docuemnto</label>
                                <select asp-for="NuevoClientes.Tipodocumento" class="form-control">
                                    <option value="">Selecciona una opción</option>
                                    <option value="DNI">DNI</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Carnet de Extrangeria">Carnet de Extrangeria</option>
                                </select>
                                <span asp-validation-for="NuevoClientes.Tipodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nrodocumento" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoClientes.Nrodocumento" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Nrodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Telefono" class="control-label">Telefono</label>
                                <input asp-for="NuevoClientes.Telefono" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Direccion" class="control-label">Direccion</label>
                                <input asp-for="NuevoClientes.Direccion" class="form-control" />
                                <span asp-validation-for="NuevoClientes.Direccion" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Guardar Cambios" class="btn bgRosa w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EliminarCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Color</h5>
                <button id="btn-close-eliminar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Eliminar" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Idcli" class="control-label">Codigo</label>
                                <input asp-for="NuevoClientes.Idcli" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Idcli" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nomcli" class="control-label">Nombre</label>
                                <input asp-for="NuevoClientes.Nomcli" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Nomcli" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Apellidos" class="control-label">Apellidos</label>
                                <input asp-for="NuevoClientes.Apellidos" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Apellidos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Tipodocumento" class="control-label">Tipo de Docuemnto</label>
                                <input asp-for="NuevoClientes.Tipodocumento" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Tipodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nrodocumento" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoClientes.Nrodocumento" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Nrodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Telefono" class="control-label">Telefono</label>
                                <input asp-for="NuevoClientes.Telefono" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Direccion" class="control-label">Direccion</label>
                                <input asp-for="NuevoClientes.Direccion" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Direccion" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NuevoClientes.Estado" class="control-label">Color</label>
                                <input asp-for="NuevoClientes.Estado" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Estado" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Eliminar" class="btn bgRosa w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="RestaurarCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Color</h5>
                <button id="btn-close-eliminar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Restaurar" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Idcli" class="control-label">Codigo</label>
                                <input asp-for="NuevoClientes.Idcli" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Idcli" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nomcli" class="control-label">Nombre</label>
                                <input asp-for="NuevoClientes.Nomcli" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Nomcli" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Apellidos" class="control-label">Apellidos</label>
                                <input asp-for="NuevoClientes.Apellidos" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Apellidos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Tipodocumento" class="control-label">Tipo de Docuemnto</label>
                                <input asp-for="NuevoClientes.Tipodocumento" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Tipodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Nrodocumento" class="control-label">Nro de Documento</label>
                                <input asp-for="NuevoClientes.Nrodocumento" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Nrodocumento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Telefono" class="control-label">Telefono</label>
                                <input asp-for="NuevoClientes.Telefono" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NuevoClientes.Direccion" class="control-label">Direccion</label>
                                <input asp-for="NuevoClientes.Direccion" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Direccion" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NuevoClientes.Estado" class="control-label">Color</label>
                                <input asp-for="NuevoClientes.Estado" class="form-control" readonly />
                                <span asp-validation-for="NuevoClientes.Estado" class="text-danger"></span>
                            </div>

                            <div class="form-group pt-3">
                                <input type="submit" value="Restaurar" class="btn bgRosa w-100" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--filtro-->
<div class="d-flex justify-content-between mb-4">
    <input type="text" id="filtroCliente" placeholder="Buscar por cliente..." class="form-control" style="width: calc(100% - 60px);">
    <button class="btn bgRosa" id="toggleInactive"><i id="iconoMostrar" class="fa-solid fa-eye-slash fa-beat" style="color: #dfb9c6;"></i></button>
</div>


<table class="table" id="tablaClientes">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Tipo Documento
            </th>
            <th>
                Nro Documento
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>            
            <th>
                Estado
            </th>
            <th class="text-center">
                Editar
            </th>
            <th class="text-center">
                Eliminar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaClientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idcli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomcli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipodocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nrodocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td class="text-center">
                    @Html.ActionLink("", "Clientes", new { id = item.Idcli, accion = "Editar" }, new { @class = "fa-regular fa-pen-to-square fa-beat", style = "color: #dfb9c6;" })
                </td>
                <td class="text-center">
                    @if (item.Estado == "Activo")
                    {
                        @Html.ActionLink("", "Clientes", new { id = item.Idcli, accion = "Eliminar" }, new { @class = "fa-solid fa-trash-can fa-beat", style = "color: #dfb9c6;" })
                    }
                    else
                    {
                        @Html.ActionLink("", "Clientes", new { id = item.Idcli, accion = "Restaurar" }, new { @class = "fa-solid fa-rotate-right fa-beat", style = "color: #dfb9c6;" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.abrirModal == "Editar")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#EditarCliente').modal('show');
            }, 500);
            $('#btn-close-editar').on('click', function () {
                window.location.href = '/Clientes/Clientes';
            });
        });
    </script>
}
else if (ViewBag.abrirModal == "Eliminar")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#EliminarCliente').modal('show');
            }, 500);
            $('#btn-close-eliminar').on('click', function () {
                window.location.href = '/Clientes/Clientes';
            });
        });
    </script>
}
else if (ViewBag.abrirModal == "Restaurar")
{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#RestaurarCliente').modal('show');
            }, 500);
            $('#btn-close-restaurar').on('click', function () {
                window.location.href = '/Clientes/Clientes';
            });
        });
    </script>
}
<script>
    $(document).ready(function () {
        var filtroActual = '';

        $('#filtroCliente').on('input', function () {
            filtroActual = $(this).val().toLowerCase();
            filtrarFilas();
        });

        $('#toggleInactive').on('click', function () {
            var iconoMostrar = $('#iconoMostrar');
            var ocultarInactivos = !$(this).hasClass('activo');
            $('#tablaClientes tbody tr').each(function () {
                var estado = $(this).find('td:nth-child(8)').text().trim();
                if (estado === 'Inactivo') {
                    $(this).toggle(ocultarInactivos);
                }
            });
            if (ocultarInactivos) {
                iconoMostrar.removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                iconoMostrar.removeClass('fa-eye').addClass('fa-eye-slash');
            }
            $(this).toggleClass('activo');
            filtrarFilas();
        });

        function filtrarFilas() {
            $('#tablaClientes tbody tr').each(function () {
                var estado = $(this).find('td:nth-child(8)').text().trim();
                var cumpleFiltro = true;
                if (filtroActual !== '') {
                    cumpleFiltro = $(this).find('td:nth-child(2)').text().toLowerCase().indexOf(filtroActual) > -1;
                }
                var esInactivo = estado === 'Inactivo';
                $(this).toggle(cumpleFiltro && (!esInactivo || $('#toggleInactive').hasClass('activo')));
            });
        }
    });
</script>
@if (ViewBag.trabajador == null)
{
    <script>
        $(document).ready(function () {

            window.location.href = '/Login/Login';

        });
    </script>
}
else if (ViewBag.rolTrabajador != 1)
{
    <script>
        $(document).ready(function () {

            window.location.href = '/Ingresos/NuevoIngreso';

        });
    </script>
}